*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
build/generated/res/
build/generated/source/rs/
build/intermediates/check-manifest/
build/intermediates/incremental/packageDebugResources/stripped.dir/
build/intermediates/lint_jar/
build/intermediates/public_res/
build/intermediates/rs/
libs/
src/main/res/drawable/
